@import './variables.scss';
@import './sizes.scss';

.leasing {
  max-width: 1334px;
  margin: 0;
  margin-top: 215px;
  margin-left: 47px;
  @media screen and (max-width: $tablet) {
    max-width: 696px;
    margin: 67px auto 0;
    margin-left: 36px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 279px;
    margin: 46px auto 0
  }
  &__title {
    max-width: 753px;
    @include title;
    color: $black;
    @media screen and (max-width: $mobile) {
      max-width: 220px;
      @include title-mobile;
      margin: 0;
    }
  }
  &__calculate {
    margin-top: 30px;
    @media screen and (max-width: $tablet) {
      margin-top: 42px;
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 32px;
    }
  }
}

.calculate {
  &__fields {
    display: flex;
    @media screen and (max-width: $tablet) {
      flex-direction: column;
      width: 696px;
    }
    @media screen and (max-width: $mobile) {
      width: 280px;
    }
    &_values {
      @media screen and (max-width: $tablet) {
        flex-direction: row;
      }
      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }
    }
  }
  &__field {
    position: relative;
    min-width: 427px;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 32px;
    &:first-of-type {
      margin-left: 0;
    }
    @media screen and (max-width: $laptop) {
      min-width: 320px;
    }
    @media screen and (max-width: $tablet) {
      margin-left: 0;
      margin-top: 38px;
      width: 100%;
      &:first-of-type {
        margin-top: 0;
      }
    }
    @media screen and (max-width: $mobile) {
      min-width: 280px;
      margin-top: 25px;
    }
    &_value {
      @media screen and (max-width: $tablet) {
        margin-top: 0;
        padding-left: 31px;
      }
      @media screen and (max-width: $mobile) {
        padding-left: 0;
      }
    }
    div {
      display: flex;
      height: 49px;
      margin-top: 13px;
      @media screen and (max-width: $mobile) {
        margin-top: 2px;
      }
      span {
        @include value-lg;
        color: $grey-deep;
        line-height: .7;   
        margin-left: 15px;
        @media screen and (max-width: $mobile) {
          @include value-lg-mobile;
          margin-left: 4px;
        }
      }
    }
    &:hover > .calculate__range {
      height: 1px;
      border-radius: 0;
    }
    &:hover > .calculate__range::-webkit-slider-thumb {
      transform: scale(1.2);
    }
  }
  &__subtitle {
    @include subtitle;
    margin: 0;
    color: $grey-smoke;
    @media screen and (max-width: $mobile) {
      @include subtitle-mobile;
    }
  }
  &__input {
    position: relative;
    @include value-md;
    width: 427px;
    height: 68px;
    background-color: $grey-silver;
    color: $grey-smoke;
    margin-top: 25px;
    box-sizing: border-box;
    padding: 4px 0 0 23px;
    border: 1px solid transparent;
    border-radius: 16px;
    outline: 1px solid transparent;
    transition: .3s;
    &:focus {
      background-color: $white;
      border-color: $grey-silver;
    }
    @media screen and (max-width: $laptop) {
      width: 320px;
      padding: 5px 0 0 30px;
    }
    @media screen and (max-width: $tablet) {
      width: 696px;
      padding: 1px 0 0 23px;
    }
    @media screen and (max-width: $mobile) {
      @include value-md-mobile;
      margin-top: 8px;
      width: 280px;
      height: 60px;
      padding: 0 0 0 20px;
    }
    &_fee {
      @media screen and (max-width: $laptop) {
        width: 320px;
        padding: 5px 0 0 24px;
      }
      @media screen and (max-width: $tablet) {
        width: 696px;
        padding: 1px 0 0 23px;
      }
      @media screen and (max-width: $mobile) {
        width: 280px;
        padding: 0 0 0 19px;
      }
    }
  }
  &__result {
    display: flex;
    margin-top: 53px;
    @media screen and (max-width: $tablet) {
      margin-top: 45px;
      flex-direction: column;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 25px;
    }
  }
  &__button {
    position: relative;
    @include value-md;
    cursor: pointer;
    min-width: 427px;
    height: 68px;
    align-self: center;
    margin-left: 32px;
    border: none;
    border-radius: 40px;
    background-color: $orange;
    color: $white;
    &:hover {
      background-color: $black;
    }
    &:active {
      background-color: $grey-smoke;
    }
    p {
      margin: 0;
      padding: 15px 0;
      @media screen and (max-width: $mobile) {
        padding: 18px 0 20px;
      }
    }
    &:disabled {
      opacity: .4;
    }
    @media screen and (max-width: $laptop) {
      min-width: 320px;
      margin-left: 32px;
    }
    @media screen and (max-width: $tablet) {
      align-self: flex-start;
      margin-left: 0;
      margin-top: 40px;
      min-width: 345px;
    }
    @media screen and (max-width: $mobile) {
      @include value-md-mobile;
      margin-top: 3px;
      min-width: 280px;
      height: 60px;
    }
  }
  &__spinner {
    display: none;
    position: absolute;
    top: calc(50% - 10.5px);
    left: calc(50% - 10.5px);
    width: 21px;
    height: 21px;
    svg {
      display: block;
      animation: spinner .75s linear infinite;
    }
    &_loading {
      display: block;
    }
  }
  &__value {
    @include value-lg;
    color: $grey-deep;
    margin: 0;
    @media screen and (max-width: $mobile) {
      @include value-lg-mobile;
    }
  }
  &__range {
    width: 379px;
    height: 2px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 23px;
    -webkit-appearance: none;
    background: linear-gradient(90deg, rgb(255, 149, 20) 50%, rgb(87, 87, 87) 50%);
    z-index: 10;
    outline: 1px solid transparent;
    border-radius: 2px 0 0 0;
    @media screen and (max-width: $laptop) {
      width: 272px;
    }
    @media screen and (max-width: $tablet) {
      width: 648px;
    }
    @media screen and (max-width: $mobile) {
      width: 237px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: $orange;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: .5s;
    }
    &::-moz-range-thumb {
      background-color: $orange;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__tag {
    @include value-md;
    position: absolute;
    bottom: 3px;
    right: 25px;
    color: $grey-smoke;
    @media screen and (max-width: $mobile) {
      @include value-md-mobile;
      bottom: -8px;
      right: 20px;
    }
    &_sm {
      @include value-sm;
      bottom: 6px;
      right: 8px;
      width: 30px;
      padding: 3px 19px 3px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $grey-cover;
      border-radius: 16px;
      @media screen and (max-width: $mobile) {
        bottom: 6px;
        right: 6px;
        width: 28px;
        padding: 1px 19px 0 20px;
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0)
  } to {
    transform: rotate(1turn);
  }
}

